ion-content{
    --ion-background-color:#fff;
}
.custom-header{
	.custom-toolbar{
		--background:#76ba1b;
	}

    .custom-segment{
		
        .custom-segment-btn{
			        height:34px;
					background: #F6F5F8;
					margin: 8px 3px;
					--indicator-color:none !important;
					letter-spacing: 1px;
					&.active{
						background: #FF8000;
						color: #fff;
					}
        }
    }
}

.custom-content{
	.product-mainDiv{
		display: flex;flex-direction: row;
		margin: 10px;border-bottom: 1px solid #E8E5EC;

		.product-img-div{
			display: flex;flex:1;
			.pImg-div{
				//padding:10px;
                position: relative;
				.pImage{
					width:90%
					//height: 130px;object-fit: contain;
				}
                .favIcon-div{
                    position: absolute; top: 4px; left: 0px;
                    .fav-icon{
                        font-size: 18px; padding: 4px; background: #f0f0f5;
                        border-radius: 50%; padding-top: 5px; box-shadow: 0px 0px 5px 0px #949499;
                        &.addColor{
                            color: #FF0000;
							animation: zoom-in-zoom-out 2s ease-out 
                        }
                    }
				
                }
			}
		}
		.product-content-div{
			display: flex;flex:1.5;flex-direction: column;justify-content: space-evenly;margin-left: 10px;
			.content-main{
				flex: 2;display: flex;flex-direction: column;justify-content: space-around;
				.content-title{
					font-size: 13px;
					font-weight: 600;
					letter-spacing: 0.5px;
					padding-bottom: 5px;
				}
				.content-price{
					
					.actual-price{
						text-decoration:line-through;margin-left: 5px;font-size: 15px;color:#a6a6a7
					}
				}
				.price-discount{
					padding-bottom:1px; color: #10C841;
					letter-spacing: 0.5px;font-size: 13px;
				}
				.company-img-div{
					color:#626263;
					font-size: 15px;
					.comImg{
						height: 20px;width: 100px;object-fit: fill;
					}
				}
			}

			.quantity-div{
				display: flex;flex: 1;flex-direction: column;justify-content: center;
				.incDesc-div{
					display: flex;flex-direction: row;justify-content: flex-end;
					.minus-plus-div{
						display: flex;flex-direction: column;justify-content: center; 
						height: 30px;width: 30px;background: #056EAB;border-radius: 50%;
						.minus-plus-icon-div{
							display: flex;flex-direction: row;justify-content: center;
							.icon-minusPlus{
								font-size: 19px; color:white;
							}
						}
					}
					.quantity-count{
						display: flex;
						flex-direction: column;
						justify-content: center;
						padding: 0 8px;font-size: 20px;
						border: 0.5px solid #e57607;
					}
					
				}

				// .no-itemCount-div{
				// 	display: flex;flex-direction: row;justify-content: flex-end;
				// 	.no-itemCount-background{
				// 		display: flex;
				// 		background: #10C841;
				// 		padding: 6px 10px;
				// 		min-width: 10px;color: white;
				// 		border-radius: 5px;margin-right:10px;
				// 		.itemCount-addDiv{
				// 			margin-right: 9px;
				// 			font-size: 13px;
				// 			font-weight: 600;
				// 			letter-spacing: 1px;
				// 			padding-top: 2px;
				// 		}
				// 		.itemCount-plus{
				// 			font-size: 19px;
				// 		}
				// 	}
					
				// }

				.product-cart-secTwo{
					display: flex;flex: 1;justify-content: flex-end;
					.btn-addtoCart{
						padding: 8px 10px; color: white; text-align: center;
						margin:12px 10px;margin-bottom: 10px; background: #76ba1b; border-radius: 7px;
						width: 100px; font-size: 13px;//new added
					}
					
					.btn-incDesc{
						color: white; text-align: center; margin: 12px 10px;margin-bottom: 10px;
						font-size: 15px; letter-spacing: 0.5px; background: #76ba1b; 
						border-radius: 7px;display: flex;
					
						width: 100px; //new added
						.icon-incDesc{
							flex: 1; display: flex; background: #76ba1b; padding: 3px;
							justify-content: center;font-size: 15px; letter-spacing: 0.5px;
							font-size: 1.5rem; border-radius: 4px;
						}
						.btn-count{
							flex: 1; display: flex; background: white; padding: 1px;
							justify-content: center; font-size: 1rem; border-radius: 4px; color: black;
							flex-direction: column;font-size: 15px; letter-spacing: 0.5px; padding-top: 4px;
							border:0.5px solid #76ba1b
						}
					}
				}




			}

		}
  
	}
}

.notfoundImage{
	width:184px
}

.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }

  @keyframes zoom-in-zoom-out {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  transform: scale(1.3, 1.3);
	}
	100% {
	  transform: scale(1, 1);
	}
  }