<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Wishlist</ion-title>

    <ion-buttons slot="end">
      <ion-button style="width:55px" (click)="gotoCart()">
        <ion-icon slot="icon-only" name="cart-outline" style="font-size: 30px;"></ion-icon>
        <ion-badge 
        *ngIf="global?.globalCartCount > 0"
        style="background-color: #ef6d05;
        position: absolute;
        top: -10px;
        right: -4px;
        border-radius: 100%;
        font-size: 11px;
        height: 22px;
        width: 22px;
        letter-spacing: 1px;
        padding: 5px;">{{global?.globalCartCount}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-segment class="custom-segment" scrollable mode="md" [(ngModel)]="segment" (ionChange)="changeSubcat('loading')">
    <ion-segment-button   [ngClass]="segment == product.id ? 'custom-segment-btn active' : 'custom-segment-btn' "  mode="ios" value="{{product.id}}" *ngFor="let product of subcategoryList; let i=index;" >
      <p>{{product?.name}}</p>
    </ion-segment-button>
  </ion-segment> -->
</ion-header>

<ion-content class="custom-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loading != true">
  <div  *ngFor="let item of productList; let i=index" class="product-mainDiv" >
    <div class="product-img-div">
      <div class="pImg-div" > 
        
        <img class="category-img" [defaultImage]="defaultImage" [lazyLoad]="item?.product?.image_path"  (click)="gotoProductDetails(item)"/>
        <div class="favIcon-div">
          <!-- <ion-icon name="heart" class="fav-icon addColor"></ion-icon> -->
          <ion-icon (click)="favFunction(i,true)" *ngIf="item?.product?.is_wishlist == false" name="heart-outline" class="fav-icon"></ion-icon>
          <ion-icon (click)="favFunction(i,false)" *ngIf="item?.product?.is_wishlist == true" name="heart" class="fav-icon addColor"></ion-icon>
        </div>
      </div>
    </div>
    <div class="product-content-div">
      <div class="content-main">
        <div class="content-title" (click)="gotoProductDetails(item)">{{item?.product?.name}}</div>
        <div class="content-price" (click)="gotoProductDetails(item)">₹ {{item?.product?.product_variants[0]?.offeredprice == null?(item?.product?.product_variants[0]?.price).toFixed(2):(item?.product?.product_variants[0]?.offeredprice).toFixed(2)}} <span class="actual-price">  {{ item?.product?.product_variants[0]?.offeredprice != null ?'₹'+(item?.product?.product_variants[0]?.price).toFixed(2):null}} </span></div>
        <div class="price-discount" (click)="gotoProductDetails(item)" *ngIf="item?.product?.product_variants[0]?.offeredprice">Save amount ₹ {{(item?.product?.product_variants[0]?.price-item?.product?.product_variants[0]?.offeredprice).toFixed(2)}}</div>
        <div class="company-img-div" (click)="gotoProductDetails(item)" *ngIf="item?.product?.variant && item?.product?.product_variants[0]?.variant_name">
          Available {{item?.product?.variant}} - {{item?.product?.product_variants[0]?.variant_name}}
        </div>
        <div class="company-img-div" style="color:red;font-size: 12pt;margin-top: 4px;" *ngIf="item?.product?.product_variants[0]?.quantity == '0'">
          Out Of Stock
        </div>
        <div class="company-img-div" style="color:rgb(255, 145, 0);font-size: 12pt;margin-top: 4px;" *ngIf="item?.product?.product_variants[0]?.quantity > 0 && item?.product?.product_variants[0]?.quantity<5">
          Limited Stock available
        </div>
      </div>
      <div class="quantity-div" >
        <div class="product-cart-secTwo" *ngIf="item?.product?.product_variants[0]?.quantity != '0'">
          <div class="btn-addtoCart" *ngIf="item?.product?.product_variants[0]?.cart_quantity == 0 || item?.product?.product_variants[0]?.cart_quantity == null" (click)="addToCart(item,1)">Add to cart</div>
          <div class="btn-incDesc" *ngIf="item?.product?.product_variants[0]?.cart_quantity > 0">
            <div class="icon-incDesc" (click)="addToCart(item,-1)">-</div>
            <div class="btn-count">{{item?.product?.product_variants[0]?.cart_quantity}}</div>
            <div class="icon-incDesc" (click)="addToCart(item,1)">+</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="productList == '' && loading != true" style="display: flex; justify-content: center; align-items: center;flex-direction: column;padding: 50px 45px;"> 
  <img style="width:184px" src="assets/imgs/not_data.gif" />
  <div style="text-align: center;font-size: 16px; color:#7d7d7d">Your Wish list is empty</div>
</div>

<div *ngIf="loading == true">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
   
  </ion-list>
</div>

</ion-content>
