<ion-header class="custom-header" *ngIf="maintenance_msg == ''">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src='assets/imgs/menu.png' style="width:30px">
      </ion-menu-button>
    </ion-buttons>

    <ion-title>
      <!-- main-dashboard -->
      <img src='assets/imgs/LOGO-HOME.png' style="width:100%;margin-top:8px">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button style="width:55px" (click)="gotoCart()" >
        <ion-icon slot="icon-only" name="cart-outline" style="font-size: 30px;" [ngClass]="cartAddEffect == true ? 'shake' : 'shake2'"></ion-icon>
        <ion-badge [ngClass]="cartAddEffect == true ? 'shake' : 'shake2'" *ngIf="global?.globalCartCount > 0" style="background-color: #ef6d05;
        position: absolute;
        top: -10px;
        right: -4px;
        height: 22px;
        width: 22px;
        border-radius: 100%;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 5px;">{{global?.globalCartCount}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <div class="custom-search-div">

    <div class="hSearch-main">
      <div class="category-main" (click)="openCategory()">
        <div class="category-sub">
          <div class="category-title">Categories</div>
        </div>
      </div>

      <div class="search-main">
        <div class="search-sub" (click)="searchProduct()">
          <img src="assets/imgs/search.png" />
          <div class="category-title" style="color:#6a6a6a;flex-direction: row;align-items: center;">Search&nbsp;<div class="moods"></div></div>

          <!-- <ion-searchbar class="custom-ionic-search" placeholder="Search for products"></ion-searchbar> -->
        </div>
      </div>

    </div>
  </div>

</ion-header>

<ion-content class="custom-content" >
  <div *ngIf="maintenance_msg == ''">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <img src="assets/imgs/wlcm.jpg" />
  <div class="product-main-content" style="background-color: #fff;">
    <div class="product-heading" *ngIf="saleProducts != '' ">Hot Deals</div>
    <div class="items-main-div">
      <div class="item-loop-div" *ngFor="let item of saleProducts.slice(0, 6); let i=index">
        <div class="item-div">
          <div (click)="productDetails(item)">
            
            <img class="item-image" [defaultImage]="defaultImage" [lazyLoad]="item?.image_path"/>
          </div>
          <div class="item-title" (click)="productDetails(item)">{{item.name}}</div>
          <!-- <div class="price-discount" *ngIf="item.product_variants[0]?.offeredprice != null">Save ₹
            {{(item?.product_variants[0]?.price-item.product_variants[0]?.offeredprice).toFixed(2)}}</div> -->
          <div class="content-price" (click)="productDetails(item)">₹ {{item.product_variants[0]?.offeredprice == null
            ?(item.product_variants[0]?.price).toFixed(2):(item.product_variants[0]?.offeredprice).toFixed(2)}} <span
              class="actual-price"> {{item.product_variants[0]?.offeredprice != null ?
              '₹'+(item.product_variants[0]?.price).toFixed(2):null}} </span></div>
          <div class="item-variant" (click)="productDetails(item)" *ngIf="item?.product_variants[0]?.variant">{{item?.product_variants[0]?.variant}}</div>
           <div class="item-variant" (click)="productDetails(item)" *ngIf="!item?.product_variants[0]?.variant">1 Pack</div>
          <!-- <div class="company-img-div" style="color:red;font-size: 12px;margin-left: 10px;"
            *ngIf="item?.product_variants[0]?.quantity == '0'">
            Out Of Stock
          </div> -->

          <!-- <div class="company-img-div" style="color:rgb(255, 145, 0);font-size: 12px;margin-left: 10px;"
            *ngIf="item?.product_variants[0]?.quantity > '0' && item?.product_variants[0]?.quantity<'5'">
            Limited Stock
          </div> -->
          <!-- <div class="company-img-div" style="color:rgb(255, 255, 255);font-size: 12pt;margin-left: 10px;" *ngIf="item?.product_variants[0]?.quantity>'5'">
           Sufficiant
          </div> -->
          <!-- <div class="btn-addtoCart" (click)="addToCart()">View Details</div> -->
          <!-- <div style="margin-bottom: 4px;"></div> -->

          <div class="btn-addtoCart" style="color:red;font-size: 12px;background-color: rgb(249 228 228);"
            *ngIf="item?.product_variants[0]?.quantity == '0'">
            Out Of Stock
          </div>

          <div *ngIf="item?.product_variants[0]?.quantity != '0'">
            <div class="btn-addtoCart"
              *ngIf="item?.product_variants[0]?.quantity != '0' && item?.product_variants[0]?.cart_quantity == 0"
              (click)="addToCart(item,1)">
              Add to cart</div>

            <div class="btn-incDesc" *ngIf="item?.product_variants[0]?.cart_quantity > '0'">
              <div class="icon-incDesc" (click)="addToCart(item,-1)">-</div>
              <div class="btn-count">{{item?.product_variants[0]?.cart_quantity}}</div>
              <div class="icon-incDesc" (click)="addToCart(item,1)">+</div>
            </div>
          </div>
          <!-- Discount price lebel -->
          <div style="position: absolute;top:0;left:0;"  *ngIf="item.product_variants[0].offeredprice != null">
            <div class="agentLebelContainer">
              <!-- ₹200 OFF -->
              ₹{{item?.product_variants[0]?.offeredprice ?  
               (item.product_variants[0].price-item.product_variants[0].offeredprice).toFixed(2)
                :0
              }} OFF
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="main-banner-div">
    <ion-slides [options]="slideOpts" #slides (ionSlideNextEnd)="lastSlideCall()"
      (ionSlideReachStart)="initialSlideCall()">
      <ion-slide *ngFor="let imageURL of banner;"> 
        <img class="slider-img" [src]='imageURL?.image_path'>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="product-main-content" style="background-color: #fff;">
    <div class="product-heading2"></div>
    <div class="items-main-div">
      <div class="item-loop-div" *ngFor="let item of saleProducts.slice(6, saleProducts.length);; let i=index">
        <div class="item-div">
          <div (click)="productDetails(item)">
            <img class="item-image" [defaultImage]="defaultImage" [lazyLoad]="item?.image_path"/>
          </div>
          <div class="item-title" (click)="productDetails(item)">{{item.name}}</div>
          <!-- <div class="price-discount" *ngIf="item.product_variants[0]?.offeredprice != null">Save ₹
            {{(item?.product_variants[0]?.price-item.product_variants[0]?.offeredprice).toFixed(2)}}</div> -->
          <div class="content-price" (click)="productDetails(item)">₹ {{item.product_variants[0]?.offeredprice == null
            ?(item.product_variants[0]?.price).toFixed(2):(item.product_variants[0]?.offeredprice).toFixed(2)}} <span
              class="actual-price"> {{item.product_variants[0]?.offeredprice != null ?
              '₹'+(item.product_variants[0]?.price).toFixed(2):null}} </span></div>
          <!-- {{item?.variant}} - {{item?.product_variants[0]?.variant_name}} -->
          <!-- <div class="item-variant" (click)="productDetails(item)">{{item?.product_variants[0]?.variant}}</div> -->

          <div class="item-variant" (click)="productDetails(item)" *ngIf="item?.product_variants[0]?.variant">{{item?.product_variants[0]?.variant}}</div>
          <div class="item-variant" (click)="productDetails(item)" *ngIf="!item?.product_variants[0]?.variant">1 Pack</div>
          <!-- <div class="company-img-div" style="color:red;font-size: 12px;margin-left: 10px;"
            *ngIf="item?.product_variants[0]?.quantity == '0'">
            Out Of Stock
          </div> -->
          <div class="btn-addtoCart" style="color:red;font-size: 12px;background-color: rgb(249 228 228);"
            *ngIf="item?.product_variants[0]?.quantity == '0'">
            Out Of Stock
          </div>

          <!-- <div class="company-img-div" style="color:rgb(255, 145, 0);font-size: 12px;margin-left: 10px;"
            *ngIf="item?.product_variants[0]?.quantity > '0' && item?.product_variants[0]?.quantity<'5'">
            Limited Stock
          </div> -->
          <!-- <div class="company-img-div" style="color:rgb(255, 255, 255);font-size: 13pt;margin-left: 10px;" *ngIf="item?.product_variants[0]?.quantity>'5'">
            Sufficiant
           </div> -->
          <!-- <div class="btn-addtoCart" (click)="addToCart()">View Details</div> -->
          <div style="margin-bottom: 4px;" *ngIf="item?.product_variants[0]?.quantity < '5'"></div>
          <div style="margin-bottom: 4px;" *ngIf="item?.product_variants[0]?.quantity != '0'">
            <div class="btn-addtoCart"
              *ngIf="item?.product_variants[0]?.quantity != '0' && item?.product_variants[0]?.cart_quantity == 0"
              (click)="addToCart(item,1)">
              Add to cart</div>

            <div class="btn-incDesc" *ngIf="item?.product_variants[0]?.cart_quantity > 0">
              <div class="icon-incDesc" (click)="addToCart(item,-1)">-</div>

              <div class="btn-count">{{item?.product_variants[0]?.cart_quantity}}</div>

              <div class="icon-incDesc" (click)="addToCart(item,1)">+</div>
            </div>
          </div>
          <!-- Discount price lebel -->
          <div style="position: absolute;top:0;left:0;"  *ngIf="item.product_variants[0].offeredprice != null">
            <div class="agentLebelContainer">
              <!-- ₹200 OFF -->
              ₹{{item?.product_variants[0]?.offeredprice ?  
                (item.product_variants[0].price-item.product_variants[0].offeredprice).toFixed(2)
                :0
              }} OFF
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="main-banner-div">
    <ion-slides startAutoplay>
      <ion-slide *ngFor="let imageURL of startingOff;">
        <img class="slider-img2" [defaultImage]="defaultImage" [lazyLoad]="imageURL?.image_path"/>
      </ion-slide>
    </ion-slides>
  </div>


  <div class="product-heading2">
    <div *ngIf="categoryList != '' ">Top Categories</div>
    <div *ngIf="categoryList != '' " style="font-size: 13px;" (click)="openCategory()">View All</div>
  </div>
  <div class="main-cat-div">
    <div class="category-div" >
      <div class="category-loop-div" *ngFor="let item of categoryList; let i=index" (click)="gotoSubCatPage(item)">
        <div class="category-item-div">
          <div style="display: flex; justify-content: center; align-items: center;">
            <img class="category-img" [defaultImage]="defaultImage" [lazyLoad]="item?.icon_path"/>
          </div>
          <div class="category-title">{{item?.name}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-banner-div">
    <ion-slides startAutoplay>
      <ion-slide *ngFor="let imageURL of advt;">
        <img class="slider-img2" [defaultImage]="defaultImage" [lazyLoad]="imageURL?.image_path"/>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="custom-footer-section" *ngIf="categoryList != '' ">
    <div class="footer-img-div">
      <img class="footer-img"
        [src]='"assets/imgs/gratis-png-garantia-de-devolucion-del-dinero-servicio-de-calidad-banquete-cien-dias-removebg-preview.png"'>
    </div>
    <div class="footer-quote">"Best Quality & Lowest Price Guranteed"</div>
    <div class="footer-quote-author">- Arambagh Plaza</div>

  </div>
</div>

<!--Under maintance-->
  <div *ngIf="maintenance_msg !=''" style="height:100%;display: flex; justify-content: center; align-items: center;flex-direction: column;padding: 50px 45px;"> 
    <img *ngIf="maintenance_msg !=''" style="width:100%" src="assets/imgs/404.png" />
    <div style="text-align: center;font-size: 16px;margin-top: 14px;font-weight: 700;color: #cf3c4f;">{{maintenance_msg}}</div>
  </div>
</ion-content>
