<!-- <ion-header>
  <ion-toolbar>
    

  <ion-back-button text="" icon="arrow-back-outline" style="color:#fff"></ion-back-button>

    <ion-title>Sort by date</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="padding:25px 15px;display:flex;align-items: center;flex-direction: row;justify-content: space-between;">
    <ion-icon name="arrow-back-outline" style="font-size:25px" (click)="dismissModal()"></ion-icon>
    <div style="font-size:14px;color:#000000;text-align: center;text-transform:uppercase;font-weight:bold">Sort by Date</div>
    <ion-icon name=""></ion-icon>
  </div>

  <ion-calendar [(ngModel)]="date"
  (change)="onChange($event)"
              [options]="optionsMulti"
              [type]="type"
              [format]="'YYYY-MM-DD'"
              >
  </ion-calendar>

  <div style="padding: 80px 15px;">
    <div class="continueBtn" (click)="dismissModal()">
      Continue
    </div>
  </div>
 
</ion-content>
<!-- (change)="onChange($event)" -->