.mainContainer{
    background-color: #FFFFFF;
    //border-radius:30px 30px 0px 0px;
    padding-top:10px;
    height:135px; 
    overflow: scroll!important;
   
}

ion-header {
    ion-toolbar {
        --background:#76ba1b;
        color:#fff;
    }
}

.supportcode{
    
    width: 36%;
    background: #b3f5b2;
    color: green;
    padding: 5px;
    border-radius: 4px;
    text-align: left;
    font-size: 13px;
    margin-bottom: 5px;

}

.notFoundMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}


