.custom-header{
	.custom-toolbar{
		--background:#76ba1b;
	}
	.custom-segment{
		.custom-segment-btn{
			background: #EBEBEB;
			margin: 8px 3px;
			--indicator-color:none !important;
			letter-spacing: 1px;
			&.active{
				background: #39A3C3;
				color: #fff;
				font-weight: 600;
			}
		}
	}
}

ion-back-button{
    --color: white !important;
}



ion-content{
	--ion-background-color:#fff;
   }

.custom-content{

    .main-promoCode{
        padding: 15px;
        background: rgb(255, 255, 255);
        margin-top: 0px;

        .promocode-div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid #E5E5E5;
            border-radius: 6px;
            .promocodeContainer{
                display: flex;
                flex: 1;
            }
            .applyDiv{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 10px;
                font-size: 15px;
                letter-spacing: 1px;
                color: #E57607;
                font-weight: 600;
            }
        }
    }

		.list-container{
			.container-heading{
				padding: 20px; font-size: 18px; letter-spacing: 1px;
				font-weight: 600;padding-bottom: 0px;
			}
			
		}


		.couponMain{
			display: flex;
			flex-direction: column; 
			padding: 10px 15px;
			padding-right: 8px;
			border-bottom: 1px solid #D5DBE1;
			background-color: #ffff;
			font-size: 14px;
			margin: 10px 12px;
            border-radius: 12px;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
			.logoContainer{
				display: flex;
			    flex-direction: row; 
				justify-content: space-between;
				align-items: flex-start;
				padding:0px 6px 5px 0px;
				.applyBtn{
					font-weight:700;
					letter-spacing: 0.5px;
					color:#E57607
				}
			}
			.couponTitle{
                font-size: 15px;
				font-weight: 700;
				letter-spacing: 0.5px;
				padding-bottom: 5px;
			}
		}

		.item-sec-two{
			display: flex; flex: 2; flex-direction: column;padding-right: 8px;
			    
			.product-title{
					font-size: 14px; font-weight: 500; letter-spacing: 0.5px; padding-bottom: 5px;
			}
			.actual-price{
				// color: #A7A7A7;
				// font-size: 20px;
				// text-transform: uppercase;
				// letter-spacing: 0.5px;
				// border: 1px dotted #252525;
				// width: 50%;

				color: #000000;
				font-size: 16px;
				text-transform: uppercase;
				letter-spacing: 3px;
				width: 100%;
				height: 61%;
				margin: 8px 4px 8px 0px;
				text-align: center;
				line-height: 31px;
				background: linear-gradient(to right, #0285c2 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#3880ff 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, #3880ff 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(#3880ff 50%, rgba(255, 255, 255, 0) 0%);
				background-position: top, right, bottom, left;
				background-repeat: repeat-x, repeat-y;
				background-size: 10px 1px, 1px 10px;
				padding:4px;
				font-weight: bold;
			
			}
			.product-discount{
					font-size: 14px; letter-spacing: 0.8px; color: #10C841; padding: 5px 0;font-weight: 700;
			}

			.addition-feature{
				//padding-left: 14px;
				  padding-top: 5px;
				.aFeature-title{
					font-size: 13px;
					color: #3a3a3a;;
					letter-spacing: 0.3px;
					margin-bottom: 5px;
				}
			}

	}
}