ion-content{
    --ion-background-color:#fff !important;
}
ion-slides {
    height: 50%;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 65px 4px !important;
}

.swiper-pagination-bullet-active {
    background: var(--bullet-background-active);
}

.button{
    background-color:#76ba1b;
    margin-top:75px;
    display:flex;
    justify-content:center;
    padding:15px;
    align-items:center;
    border-radius:5px;
    margin-left:30px;
    margin-right:30px
} 