

<ion-content>
  <div style="margin-top:40px">
  <ion-slides  startAutoplay [options]="slideOpts">
    
    <ion-slide style="display:flex;flex-direction:column">
      <img src='assets/imgs/Delivery-Service-Illustration.jpg' style="width:100%;margin-top:8px">
      <h1 style="color:#0D0D0D;font-size:16px;font-weight: bold;">SHOPING FROM HOME</h1>
      <div style="color:#707070;font-size:13px;padding-left: 40px;padding-right: 40px">Search your daily need & shop online from here with lowest price than market anytime.</div>
    </ion-slide>
    <ion-slide style="display:flex;flex-direction:column">
      <img src='https://unblast.com/wp-content/uploads/2020/05/Delivery-Service-Illustration.jpg' style="width:100%;margin-top:8px">
      <h1 style="color:#0D0D0D;font-size:16px;;font-weight: bold;">GET HOME DELIVERY</h1>
      <div style="color:#707070;font-size:13px;padding-left: 40px;padding-right: 40px">We are ready to deliver your order on-time at your doorstep at minimum price.</div>
    </ion-slide>
    <ion-slide style="display:flex;flex-direction:column">
      <img src='assets/imgs/easy-pay.jpg' style="width:100%;margin-top:8px">
      <h1 style="color:#0D0D0D;font-size:16px;;font-weight: bold;">Secure & Easy payment options</h1>
      <div style="color:#707070;font-size:13px;padding-left: 40px;padding-right: 40px">We accept cash on delivery and online payment options for orders</div>
    </ion-slide>
  </ion-slides>

</div>
<div class="button" (click)="gotoSignin()">
  <div style="color:#fff">Get Started</div>
</div>


</ion-content>
