.custom-header{
	.custom-toolbar{
		--background:#76ba1b; 
	}
	.custom-segment{
		.custom-segment-btn{
			background: #EBEBEB;
			margin: 8px 3px;
			--indicator-color:none !important;
			letter-spacing: 1px;
			&.active{
				background: #39A3C3;
				color: #fff;
				font-weight: 600;
			}
		}
	}
}

.custom-content{
	--background: #E5E5E5;
	
	.address-div{
		background-color: white;
		padding: 10px 0px 20px 0px;
		.address-content-div{
			margin: 0 20px;
			.address-heading{
				font-size: 14px;color: #646464;text-transform: uppercase; letter-spacing: 1px; font-weight: 600; padding: 10px 0;border-bottom: 1px solid #D5DBE1		
			}
			.address-details{
				.add-name{
					font-size: 15px; letter-spacing: 1px; font-weight: 600; padding: 6px 0; padding-top:11px;text-transform: capitalize;
				}
				.add-desc{
					font-size: 14px;
					letter-spacing: 0.6px;
					padding-bottom: 5px;
				}
			}
	
			.address-changeBtn-div{
				margin-top: 15px;
				.address-changeBtn{
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 11px 0px;
					background: #76ba1b;
					color: white;
					text-align: center;
					border-radius: 6px;
				}
			}
		}

	}

	.cart-tem-section{
		background: white; padding: 10px 0px 0 0;margin-top: 10px;
		.cart-item-main{
			display: flex; flex-direction: row; padding: 10px 0; border-bottom: 1px solid #D5DBE1;
			.item-sec-one{
				display: flex;flex: 1;flex-direction: column;justify-content: center;
				.item-image{
					max-height: 80px; object-fit: contain;
				}
			}
			.item-sec-two{
				display: flex; flex: 2.1; flex-direction: column; padding-left: 5px;    margin-left: 8px;
				.product-title{
					font-size: 14px; font-weight: 500; letter-spacing: 0.5px; padding-bottom: 5px;
				}
				.content-price{
					font-size: 15px; font-weight: 500; color: #CF0202;
					.actual-price{
						color:#A7A7A7;text-decoration:line-through;margin-left: 5px;font-size: 14px;
					}
				}
				.product-discount{
					font-size: 14px; letter-spacing: 0.8px; color: #056EAB; padding: 5px 0;
				}

			}
			.item-sec-three{
				display: flex;flex: 1;flex-direction: column;justify-content: flex-end;
				.btn-incDesc{
					color: white; text-align: center; margin: 5px 10px;margin-bottom: 10px;
					font-size: 13px; letter-spacing: 0.5px; background: #76ba1b; 
					border-radius: 7px;display: flex;
				
					width: 100px; //new added
					.icon-incDesc{
						flex: 1; display: flex; background: #76ba1b; padding: 2px;
						justify-content: center;font-size: 15px; letter-spacing: 0.5px;
						font-size: 1.5rem; border-radius: 4px;
					}
					.btn-count{
						flex: 1; display: flex; background: white; padding: 1px;border:0.5px solid #76ba1b;
						justify-content: center; font-size: 1rem; border-radius: 4px; color: black;
						flex-direction: column;font-size: 15px; letter-spacing: 0.5px; padding-top: 4px;
					}
				}
			}
		}
	}

	.paymentDetails-div{
		margin-top: 10px;background: white;
		.payment-main{
			padding: 0 15px;
			.payment-heading{
				border-bottom: 1px solid #D5DBE1;font-size: 14px;color: #646464;text-transform: uppercase;letter-spacing: 1px; font-weight: 600; padding: 10px 0;
			}
			.payment-devide{
				.payment-common-div{
					display: flex;flex-direction: row;justify-content: space-between;    
					font-size: 14px; letter-spacing: 0.6px; padding-bottom: 5px;
					.common-sub{

						.coupon-name{
							font-size: 13px;color: #10C841;
							&.changeColor{
								color: #056EAB;
							}
						}
					}
					.key-name{

					}
					.key-value{

					}

					&.addBorder{
						padding-bottom: 10px;
						border-bottom: 1px solid #D5DBE1;
					}
					&.addPaddingTop{
						padding-top: 10px;
						padding-bottom:12px;
						font-size: 16px;
						font-weight: 600;					}

				}
			}
		}
	}

	.payment-mode{
		margin-top: 10px;background: white;
		margin-bottom: 20px;
		.payment-modeMain{
			padding: 0 15px;
			.paymentMode-heading{
				font-size: 14px;color: #646464;text-transform: uppercase; letter-spacing: 1px; font-weight: 600; padding: 10px 0
			}
			.paymentMode-body{
				padding-top: 8px;
				.paymentMode-options{
					display: flex;flex-direction: row;justify-content: space-between;
					padding: 10px 0;border-bottom: 1px solid  #D5DBE1;
					.option-text{
						display: flex; flex-direction: column; justify-content: center;
					}
					.radio-div{
						margin-right: 15px;
						.radio-border{
							height: 20px;
							width: 20px;
							border-radius: 50%;
							border: 1px solid black;
							display: flex;
							justify-content: center;
							.radio-background{
								height: 12px;
								width: 12px;
								border-radius: 50%;
								background-color: white;
								display: flex;
								flex-direction: row;
								justify-content: center;
								align-self: center;
								&.activeColor{
									background-color: black;
								}
							}
						}
					}
				}
			}
		}
	}

	.paymentBtn-div{
		background: white;
    padding: 15px;
		.paymentBtn-main{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.btn-secOne{
				display: flex;
				flex: 1;
				flex-direction: column;
				justify-content: center;
				
				.secOne-title{
					font-size: 13.5px; letter-spacing: 1px; font-weight: 600; padding-bottom: 5px;
					&.smallColor{
						font-size: 12px; letter-spacing: 0.8px; font-weight: 500; color: #A7A7A7;
					}
				}
				.secOne-price{
					font-size: 18px; letter-spacing: 1px; font-weight: 600;color: #E57607;
				}
			}
			.btn-secTwo{
				display: flex;
				flex: 1;
				flex-direction: column;
				justify-content: center;
				.btn-div{
					height: 50px;
					width: 100%;
					background: #E57607;
					display: flex;
					flex-direction: column;
					justify-content: center;
					border-radius: 6px;
					.btn-text{
						text-align: center;
						font-size: 16px;
						letter-spacing: 1px;
						color: white;
						//font-weight: 600;
					}
				}
			}
		}
	}



}


.product-discount{
	font-size: 14px; letter-spacing: 0.5px; color: #056EAB; padding:0px 2px 12px 0px;
}
.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }



  .btnContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-direction:row;
	.button{
		background-color: #ff4e00;
		color: #ffff;
		margin-top:9px;
		display:flex;
		justify-content:center;
		padding:12px;
		align-items:center;
		border-radius:5px;
		width:100%
	}
}


  
  .wave-bottom {
	position: relative;
  }
  
  .wave-bottom::before,
  .wave-bottom::after {
	border-top: 5px solid #E5E5E5
  }
  
  .wave-bottom::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 10px;
	background-size: 20px 40px;
	background-image: radial-gradient(circle at 10px -15px, transparent 20px, #fff 21px);
  }
  
  .wave-bottom::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 15px;
	background-size: 40px 40px;
	background-image: radial-gradient(circle at 10px 26px, #fff 20px, transparent 21px);
  }