<ion-content>
  <div style="height:100%;background-color: #fbfbfb;display: flex;justify-content:center;align-items: center;flex-direction:column">
    <img  style="width:175px" src="../../assets/imgs/success-coupon.gif" /> 
    <div style="margin-top: 8px;letter-spacing: 0.3px; font-size: 16px; font-weight: 600; color: #6aa818;display:flex;flex-direction: row;align-items: center;"><div style="letter-spacing: 1.3px;margin-right:4px">{{details?.couponCode}} </div>applied</div>
    <div style="font-size: 22px; font-weight: 600; color: #000; margin-top: 6px; letter-spacing: 1.3px;">You Saved Rs.{{details?.discount}}</div>
    <div style="font-size:16px;color: #383838;margin-top: 6px;">With this promo code</div>
    <div style='color:red;margin-top: 18px;font-size: 16px;'>Woohoo! Thanks</div>
    </div>
</ion-content>