<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Orders History</ion-title>

    <ion-buttons slot="end">
      <ion-button style="width:55px" (click)="gotoCart()">
        <ion-icon slot="icon-only" name="notifications-outline" style="font-size: 28px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="main-div">
    <div class="manage-order-div">
      <div class="column-sec">
        <div class="column-sec-title">Manage Orders</div>
      </div>
      <div class="column-sec">
        <div class="column-sec-btn-div" (click)="filterOrder()">
          <ion-icon class="btn-icon" name="options-outline"></ion-icon>
          <div class="btn-title">Filter My Orders</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="orderList != '' && loading != true">
  <div class="main-div addMarginTop" *ngFor="let order of orderList">
    <div class="manage-order-div changeToColumn">
      <div class="column-sec changeToRow">
        <div class="sec-item">
          <!-- <div class="item-heading">Order Status</div> -->
          <div class="itemstatus">
            <!-- <div class="status-div">Accepted</div> -->
            <h5 *ngIf="order.status == 'received'" class="status-div pending" style="margin-top:4px;text-transform: capitalize;">{{order.status == 'received'?'Wait For Approval':order.status_text}}</h5>
            <h5 *ngIf="order.status == 'cancelled'" class="status-div cancel" style="margin-top:4px;text-transform: capitalize;">{{order.status_text}}</h5>
            <h5 *ngIf="order.status != 'cancelled' && order.status != 'received' && order.status != 'delivered'" class="status-div inprogress" style="margin-top:4px;text-transform: capitalize;">{{order.status== 'intransit'?'Order In-Progress':order.status_text}}</h5>
            <h5 *ngIf="order.status == 'delivered'" class="status-div delivered" style="margin-top:4px;text-transform: capitalize;">{{order.status_text}}</h5>
          </div>
        </div>
        <div class="sec-item textToRight">
          <div class="item-heading"> Delivery Date</div>
          <div class="item-value">{{order?.expected_delivery_date?order?.expected_delivery_date:"Not Assign"}}</div>
        </div>
        
      </div>
      
      <div class="column-sec changeToRow addPaddingTop">
        <div class="sec-item">
          <div class="item-heading">Order Id</div>
          <div class="item-value">#{{order.code}}</div>
        </div>
        <div class="sec-item textToRight">
          <div class="item-heading">Order Total</div>
          <div class="item-value">Rs. {{order.payable_amount.toFixed(2)}}</div>
        </div>
      </div>

      <div class="column-sec changeToRow addPaddingTop">
        <div class="sec-item">
          <div class="item-heading">Payment Mode</div>
          <div class="item-value" style="text-transform: capitalize;">{{order.payment_mode}}</div>
        </div>
        <div class="sec-item textToRight">
          <div class="item-heading">Order Date</div>
          <div class="item-value">{{order?.created_at.split("-")[0]}}</div>
        </div>
      </div>
    </div>
  
    <div class="item-div">
      <div class="item-section" *ngFor="let item of order.order_products.slice(0, 1);">
        <div class="item-img-div">
          <img class="item-image" src="{{item?.product?.image_path}}">
        </div>
        <div class="item-details">
          <div class="item-title">{{item?.product?.name}}</div>
          <div class="item-title changeColor">Rs.{{(item?.price).toFixed(2)}} X {{item?.quantity}}</div>
        </div>
      </div>
  
      <div class="addmore-sec"> {{order.order_products.length-1>0?"+":null}} {{order.order_products.length-1>0?order.order_products.length-1 + " items in list":null}}  </div>
      <div class="item-btn-div" *ngIf="order?.revertcount == 0">
        <div *ngIf="order.status != 'delivered' && order.status != 'cancelled'" style="margin-right: 8px;" class="btn-sec" (click)="cancelOrderConfirmation(order)">
          <div>Cancel Order</div>
        </div>

        <div *ngIf="order.status == 'delivered' && order?.days_delivered_before <4" class="btn-sec" style="margin-right: 8px;" (click)="replaceOrderConfirmation(order)">
          <div>Replace Order</div>
        </div>
  
        <div class="btn-sec changeBackground" style="margin-left: 0px;" (click)="viewOrderDetails(order)">
          <div>View Details</div>
        </div>
        
      </div>

      <div class="item-btn-div" *ngIf="order?.revertcount > 0">
        
        <div class="btn-sec changeBackground" style="margin-left: 0px;" (click)="viewOrderDetails(order)">
          <div>View Details</div>
        </div>
        
      </div>
  
    </div>
  </div>
</div>

<div *ngIf="orderList == '' && loading != true" style="display: flex; justify-content: center; align-items: center;flex-direction: column;padding: 50px 45px;"> 
  <img style="width:184px" src="assets/imgs/not_data.gif" />
  <div style="text-align: center;font-size: 16px; color:#7d7d7d">Sorry !!! No orders found. Go find the product you like</div>
  <div class='btnContainer'>
    <div class="button" (click)="gotoHome()">
      
      <div style="font-size:13px">Start Shopping</div>
    </div>
  </div>
</div>

<div *ngIf="loading == true">
  <ion-list>
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
   
  </ion-list>
</div>
</ion-content>
