
ion-content{
	--ion-background-color:#fff;
}
.custom-header{
	.custom-toolbar{
		--background:#76ba1b;
	}

    .custom-segment{
        .custom-segment-btn{
					background: #EBEBEB;
					margin: 8px 3px;
					--indicator-color:none !important;
					letter-spacing: 1px;
					&.active{
						background: #39A3C3;
						color: #fff;
						font-weight: 600;
					}
        }
    }
}

.custom-content{
	
	// .category-div{
	// 	display: flex; flex-wrap: wrap;justify-content:flex-start;margin-top:10px;padding-left:8px;
	// 	padding-bottom:10px;padding-top:2px;
	// 	.category-loop-div{
	// 		// height: 48vw; 
	// 		//min-height: 47vw;
	// 		width: 45vw; margin: 5px;
	// 		border: 1px solid #a4de02;
	// 		background-color: #fff;
	// 		border-radius: 4px;
	// 		.category-item-div{
	// 			// border: 1px solid #00000029;
	// 			.category-img{
	// 				width: 85%;
	// 				object-fit: cover;
	// 				margin-top: 6px;
	// 				margin-left: 6px;
	// 			}
	// 			.category-title{
	// 				font-size: 13px; letter-spacing: 0.5px; font-weight: 600;padding: 5px 5px 8px 12px;;
	// 			}
	// 		}
	// 	}
	// }

	.main-cat-div{
			display: flex; flex-wrap: wrap;justify-content:flex-start;margin-top:10px;padding-left:8px;
		padding-bottom:10px;padding-top:2px;
		.category-div{
			display: flex; flex-wrap: wrap;
			// justify-content: center;
			justify-content: flex-start;
			margin-top:0px;
			padding-bottom:10px;padding-top:10px;
			.category-loop-div{
				// height: 48vw; 
				//min-height: 47vw;
				width: 45vw; margin: 5px;
				//border: 1px solid #a4de02;
				box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
				background-color: #fff;
				border-radius: 4px;
				.category-item-div{
					// border: 1px solid #00000029;
					.category-img{
						// width: 95%;
						width: 60%;
						object-fit: cover;
						margin-top: 10px;
						//margin-left: 6px;
					}
					.category-title{
						
						font-size: 13px;color: #e74b01; letter-spacing: 0.6px; font-weight: 600;padding: 12px  16px;text-align: center;
					}
				}
			}
		}
	}
}

.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }