ion-header ion-toolbar {
    --background:#76ba1b;
}

ion-back-button{
    --color: white !important;
}

ion-content{
    --ion-background-color:#fff;
}
ion-back-button{
    --color: white !important;
}

ion-back-button{
    button{
        .button-inner{
            text-align: left !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start !important;
        }
    }
}
ion-footer{
    .footerContainer{
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #FC4500;
        padding-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .subHeading{
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            display:flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom:16px
        }
        .subHeading2{
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            margin-left:4px
        }
    }
}

.desc-value{
    font-size: 14px; letter-spacing: 0.7px; font-weight: 500; color: #6A6A6A;
}