<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons>
      <ion-back-button text="" icon="arrow-back-outline" style="color:#000;margin-top: 12px;
      margin-left: 15px;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="global-background">

  <div class="custom-otp-div">
    <div class="otp-sub-one">
      <div class="otp-main">
        <div class="class-verification">Verification code</div>
        <div class="class-description">Please type the verification code sent to your email address</div>
        <div class=input-fields>
          <ion-input [ngStyle]="{'border-bottom': field1 ==true ? '3px solid #E25C56' : '4px solid #EAE8EE'}" type="tel"
            maxlength="1" class="paswordInput" clearOnEdit=false [(ngModel)]="otp.input1" (click)="inputFocus('1')" #a
            (keyup)="moveFocus(b, $event, a, '1')" [ngModelOptions]="{standalone: true}"></ion-input>
          <ion-input [ngStyle]="{'border-bottom': field2 ==true ? '3px solid #E25C56' : '4px solid #EAE8EE'}" type="tel"
            maxlength="1" class="paswordInput" clearOnEdit=false #b (keyup)="moveFocus(c, $event, a,'2')"
            [(ngModel)]="otp.input2" [ngModelOptions]="{standalone: true}" (click)="inputFocus('2')"></ion-input>
          <ion-input [ngStyle]="{'border-bottom': field3 ==true ? '3px solid #E25C56' : '4px solid #EAE8EE'}" type="tel"
            maxlength="1" class="paswordInput" clearOnEdit=false #c (keyup)="moveFocus(d, $event, b, '3')"
            [(ngModel)]="otp.input3" [ngModelOptions]="{standalone: true}" (click)="inputFocus('3')"></ion-input>
          <ion-input [ngStyle]="{'border-bottom': field4 ==true ? '3px solid #E25C56' : '4px solid #EAE8EE'}" type="tel"
            maxlength="1" class="paswordInput" clearOnEdit=false #d (keyup)="moveFocus(d, $event, c, 4)"
            [(ngModel)]="otp.input4" [ngModelOptions]="{standalone: true}" (click)="inputFocus('4')"></ion-input>
        
        </div>

        <div class="resendBtn" (click)="resendOTP()">Resend OTP</div>
      </div>

    </div>


  </div>
</ion-content>