.header{
    --background: #fff;
}
ion-content{

    --ion-background-color:#fff;
}
.global-background{
    
    .custom-otp-div{
        display:flex;flex-direction:column;height: 100%;
        .otp-sub-one{
            display: flex;justify-content: flex-start;flex:1;flex-direction: column;margin-top:150px;
            .otp-main{
                // background: white;
                text-align: center;
              //  padding-top:15px;
                border-radius: 35px;
                font-size: 16px;
                letter-spacing: 0.6px;
                font-weight: 500;
                .class-verification{
                    font-size: 22px;
                    padding-bottom: 10px;
                    font-weight: 600;
                    color: var(--text-color-primary);
                    text-align:center
                }
                .class-description{
                    color: var(--text-color-secondary);
                    font-size: 14px;
                    text-align:center;
                    padding-right:35px;
                    padding-left:25px;
                    margin-top:10px;
                    font-weight:400;
                    line-height: 17px;

                }
             
                    .input-fields{
                        display: flex;
                        width: 80%;
                        justify-content: center;
                        margin: 0 auto;
                        margin-top:40px
                }

            }
        }
        .otp-sub-two{
            display: flex;justify-content: flex-start;flex-direction: column;flex:0.8;width: 100%;
          
            .signin-div{
                text-align: center;
                letter-spacing: 1px;
                font-size: 14px;
                margin: 25px 0px 10px 0px;
                .bold-class{
                    // color:color($colors, primary);
                    color: #fff;
                }
            }
        }
    }
}

ion-input {
    --background:#F6F5F8;
    --padding-start:0   
}
// ion-input{
//     display:inline-block;
//     width:50px;
//     height:50px;
//     margin:10px;
//     border-radius: 50%;
//     --background:#e1e1e1;
//     --padding-start:7px;
// }

.paswordInput{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 22px;
    color: var(--text-color-primary);
    margin-right:5px;
    height:55px;
    text-align:center
 
}
.resendBtn{
    color:#121F3E;
    font-weight:bold;
    font-size: 14px;
    margin-top:30px
}
