<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Transaction History
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf=" loading == false">
    <div *ngFor="let list of purchaseHistoryArr; let i = index"
      style="margin:12px;display: flex;flex-direction: column;padding-top: 12px; padding-bottom: 12px;padding-left:16px;border-radius:6px" 
      [ngStyle]="{'background-color': list?.trans_type =='credit' ? 'rgb(230 246 229)' : '#f6eaea'}"
      >
      <div
        style="padding:0px 0px;padding-bottom:10px;display: flex; justify-content: space-between; align-items:center;flex-direction: row;color:#99AEA6">
        <div  style="text-transform:capitalize;padding-left: 0px;padding-right: 10px;font-size: 14px;color:#404040;font-weight: 700;">
          Rs. {{list?.amount}}
        </div>
        <div style="padding-left: 4px;padding-right: 15px;font-size:13px;text-transform:capitalize; color:#404040">
          <!-- {{list?.created_at | date : "dd MMM, YYY"}} -->
          {{list?.created_at}}
        </div>
      </div>

      <div
        style="display: flex; justify-content: flex-start; align-items: flex-start;flex-direction: row;color:#99AEA6">
        <!--<img src="../../assets/images/loc.png" style="width:18px;height:18px" />-->
        <div style="text-transform:capitalize;color:#1d1d1d;font-size:14px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          {{list?.remarks}}
        </div>
      </div>
      <div
        style="margin-top:6px;display: flex; justify-content:space-between; align-items: center;flex-direction: row;color:#99AEA6">
        <div style="text-transform: capitalize;color:#0057bf;font-size:13px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          Transaction Mode - {{list?.service}}
       </div>
        <img (click)="presentModal(list)" src="../../assets/imgs/info-blue.png"  style="width:22px;height:22px;margin-right: 12px;" />
      </div>
    </div>
  </div>



  <div *ngIf="purchaseHistoryArr == '' && loading !=true" class="notFoundMain">
    <img  src="../../assets/imgs/not_data.gif" style="width:184px;" />
    <div style="margin-top:10px">Sorry!. No data found</div>
  </div>

<!--Skeliton-->
  <div *ngIf=" loading == true">
    <div *ngFor="let list of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]; let i = index"
      style="margin:12px;display: flex;flex-direction: column;padding-top: 12px; padding-bottom: 12px;padding-left:16px;border-radius:6px;background-color: #fff;">
      <div
        style="padding:0px 0px;padding-bottom:10px;display: flex; justify-content: space-between; align-items:center;flex-direction: row;color:#99AEA6">
        
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

     
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
  
      </div>

      <div
        style="display: flex; justify-content: flex-start; align-items: flex-start;flex-direction: row;color:#99AEA6">
        <!--<img src="../../assets/images/loc.png" style="width:18px;height:18px" />-->
        <div style="text-transform:capitalize;color:#1d1d1d;font-size:14px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </div>
      </div>

     
      <div
        style="margin-top:6px;display: flex; justify-content:space-between; align-items: center;flex-direction: row;color:#99AEA6">
        <div style="color:#ff3a20;font-size:13px;width: 15.9375rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
       </div>
       <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
      </div>
    </div>
  </div>

  <div *ngIf="purchaseHistoryArr == '' && loading !=true" class="notFoundMain">
    <img  src="../../assets/imgs/no-results.png" style="width:100px;" />
    <div style="margin-top:10px">Sorry!. No data found</div>
  </div>

</ion-content>