ion-header ion-toolbar {
    --background:#76ba1b;
}

ion-back-button{
    --color: white !important;
}

ion-back-button{
    button{
        .button-inner{
            text-align: left !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: flex-start !important;
        }
    }
}

ion-content{
    --ion-background-color:#fff;
}
.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }

  .subHeading{
   
    font-size: 14px;
   
}