<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-buttons (click)="closeModal()">
        <ion-icon  name="arrow-back-outline" style="font-size: 28px;"></ion-icon>
      </ion-buttons>
    </ion-buttons>
    <ion-title>
      Search Address
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
  
  <ion-searchbar 
  search-icon="search-sharp" 
  [debounce]="250" 
  animated="true" 
  [(ngModel)]="autocomplete.input" 
  (ionInput)="UpdateSearchResults()" 
  placeholder="Search Address"  
  (ionClear)="ClearAutocomplete()"
  ></ion-searchbar>
  <div class="curloc" (click)="SelectSearchResult(address,'curAddr')">
    <ion-icon name="locate-outline"></ion-icon>
    <div style="margin-left:5px">Use Current Location</div>
  
  </div>
  

  <div style="margin-top:15px" *ngIf="autocomplete.input">
    <div *ngFor="let address of autocompleteItems"  (click)="SelectSearchResult(address,'listing')" class="locationlist">
      <div style="margin-left:5px">{{ address.description }}</div>
    </div>
  </div>

</div>
</ion-content>


