
ion-content{
    --ion-background-color:#12c06a;
}
.global-background{
    
    .custom-otp-div{
        display:flex;flex-direction:column;height: 100%;
        .otp-sub-one{
            display: flex;justify-content: center;flex:1;flex-direction: column;
            .otp-main{
                // background: white;
                text-align: center;
                .class-verification{
                    font-size: 20px;
                    padding: 0px 15px 10px 15px;
                    //font-weight: 600;
                    color: var(--text-color-primary);
                    text-align:center;
                    color:#fff;
                    margin-top: 12px;
                    &.addExtra{
                        // font-weight: 600;
                        // letter-spacing: 0.5px;
                        // margin: 0 20px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        margin: 0 30px;
                        border: 1px solid;
                        padding: 10px;
                        box-shadow: 0px 0px 15px -5px;
                        border-radius: 10px;
                        margin-top: 20px;
                    }
                }
                .class-description{
                    //color: var(--text-color-secondary);
                    font-size: 13px;
                    text-align:center;
                    padding-right:35px;
                    padding-left:25px;
                    margin-top:10px;
                    //font-weight:600;
                    line-height: 17px;
                    color:#fff
                }
                .class-description2{
                    //color: var(--text-color-secondary);
                    font-size: 18px;
                    text-align:center;
                    padding-right:35px;
                    padding-left:25px;
                    margin-top:10px;
                    //font-weight:600;
                    line-height: 17px;
                    color:#fff
                }
                .btnContainer{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    flex-direction:row;
                    .button{
                        background-color: #ffefe7;
                        color: #ff4e00;
                        margin-top:40px;
                        display:flex;
                        justify-content:center;
                        padding:15px;
                        align-items:center;
                        border-radius:5px;
                        width:60%
                    }
                }
    
            }
        }
    
    }
}





