ion-header ion-toolbar {
    --background:#76ba1b;
    
}

ion-back-button{
    --color: white !important;
}

ion-content{
 --ion-background-color:#fff;
}

.back-div{
    background:#76ba1b;
    position: relative;
    padding:30px;
   
}

.walletDiv{
    margin: 8px 10px 0px 10px;
    position: absolute;
    padding: 15px;
    padding-top: 18px;
    width: 94%;
    background: #fff;
    border-radius: 8px;
    top: 0px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.reqBtn{
    background-color: var(--secondary);
    margin-top:20px;
    display:flex;
    justify-content:center;
    padding:12px;
    align-items:center;
}
.subHeading{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-color-primary)
}
.textInput{
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    font-size: 14px;
    color: #121F3E;
    margin-top:15px;
    height:50px;
    padding-right:8px;
 
}

.agentLabel{
    padding: 8px 4px;
    width: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    color: #a65101;
    margin-top: 6px;
    margin-bottom: 7px;
    margin-top: 10px;
    border: 1px solid #ff973f;
    margin-right: 5px;
    margin-top: 18px;
}

.agentLabel-active{
    padding: 8px 4px;
    width: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    color: #ffffff;
    margin-top: 6px;
    margin-bottom: 7px;
    margin-top: 10px;
    background-color: #ff973f;
    margin-right: 5px;
    margin-top: 18px;
}

.textarea{
    border: 1px solid #D5DBE1;
    border-radius: 5px;
    font-size: 14px;
    color: #121F3E;
    margin-top:15px;
   // height:93px;
    padding:6px 8px 6px 8px;
}