<ion-header class="custom-header">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="red">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loading != true">


    <div class="main-div" *ngIf="orderDetails?.admin_message != null">
      <div class="manage-order-div" style="background-color: #f7e0e0">
        <div class="column-sec" style="align-items: flex-start;flex:1">
          <div class="column-sec-title blackShade" style="font-weight: bold;color:rgb(143 0 39);">Administrator Messege
          </div>
          <div class="column-sec-title" style="text-align: left;font-size: 13px;margin-top:5px;color: #181818;">
            {{orderDetails?.admin_message}}
          </div>
        </div>
      </div>
    </div>

    <div class="main-div addMarginTop">
      <div class="manage-order-div">
        <div class="column-sec" style="align-items: flex-start">
          <div class="column-sec-title blackShade">Order Status</div>
          <div class="column-sec-title"
            style="font-size: 14px; margin-top:2px;text-transform: uppercase;font-weight: bold;">
            {{orderDetails?.status == "received"?'Wait for approval':orderDetails?.status_text }}</div>
        </div>
        <div class="column-sec">
          <div class="column-sec-btn-div" (click)="showTracking()">
            <!-- <ion-icon class="btn-icon" name="options-outline"></ion-icon> -->
            <div class="btn-title">{{!showTrack ? 'Track now' : 'Hide' }}</div>
          </div>
        </div>
      </div>
   
    </div>

    <div style="padding: 15px 0;background: white;" *ngIf="showTrack">
      <div class="breakdown-status-div" *ngFor="let item of orderDetails?.status_log; let i=index">
        <div class="div-one">
          <div class="div-sub-one">
            <ion-icon name="checkmark-circle" class="tick-icon" *ngIf="item?.timestamp"></ion-icon>
            <ion-icon name="checkmark-circle" class="tick-icon" style="opacity:0.5" *ngIf="!item?.timestamp"></ion-icon>
          </div>
          <div class="line-div">
            <div class="custom-line" *ngIf="item?.timestamp"></div>
            <div class="custom-line" style="opacity:0.5" *ngIf="!item?.timestamp">
            </div>
          </div>
        </div>
        <div class="div-two">
          <div class="div-two-title" *ngIf="item?.timestamp != null">
            {{item.label}}
          </div>
          <div class="div-two-title" *ngIf="item?.timestamp == null" style="color:#c2c2c2">
            {{item.label}}
          </div>

          <div class="date-div">
            <div class="date-row">
              <div class="date-icon-div">
                <img class="calender-img" src="assets/imgs/active_calender.png" *ngIf="item?.timestamp">
                <img class="calender-img" src="assets/imgs/active_calender.png" style="opacity:0.5"
                  *ngIf="!item?.timestamp">
              </div>
              <div class="date-title" *ngIf="item?.timestamp" style="color:#262626">{{item?.timestamp?.split('T')[0]}}
              </div>
              <div class="date-title" *ngIf="item?.timestamp == null">Date will assign
                soon</div>
              <!-- <div class="date-title" *ngIf="item?.timestamp == null && item?.label == 'Delivered'">
                {{orderDetails?.expected_delivery_date?dateCnvrt(orderDetails?.expected_delivery_date):"Date will assign
                soon"}}</div> -->

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="main-div addMarginTop">
       <!--View Rating-->
       <div *ngIf="orderDetails?.rating" class="column-sec-title blackShade"
       style="margin-left: 12px;
     margin-top: 10px;text-transform: uppercase;font-size: 14px;">Your Review & Rating</div>
     <div *ngIf="orderDetails?.rating"
       style="padding-left:12px;display:flex;flex-direction: row;">
       <div
         style="display:flex;flex-direction: row;align-items: center;justify-content: center;width:61px;padding:1px;border-radius: 25px;background-color: #ffffff;color:green;font-size: 22px;margin-top:8px;border: 1px solid #d3d3d3;">
         <img src="assets/imgs/star.png" style="width: 20px; margin-right: 3px;" /> {{orderDetails?.rating}}
       </div>
     </div>
     <div *ngIf="orderDetails?.review"
       style="color:rgb(34, 34, 34);font-size: 14px;margin-top:8px;padding:12px;padding-top:2px;text-align: left;"> -
       {{orderDetails?.review}}</div>

      </div>

    <div class="main-div addMarginTop"
      *ngIf="orderDetails?.deliveryboy != null && orderDetails?.status != 'delivered' && orderDetails?.status != 'cancelled'">
      <div class="manage-order-div" style="flex-direction: column;padding-right: 8px;">
        <div class="column-sec-title blackShade" style="color:#5E5E5E">Assigned Delivery Person</div>
        <div class="manage-order-div" style="flex-direction: row;padding-left:0px">

          <div class="column-sec" style="align-items: flex-start;flex-direction: row;">
            <img style="width: 35px; height: 35px; border-radius: 50%;" src="{{orderDetails?.deliveryboy?.avatar}}" />
            <div style="padding-left:10px">
              <div class="column-sec-title" style="text-transform: uppercase;font-size: 14px;margin-top:2px">
                {{orderDetails?.deliveryboy?.name}}</div>
              <div class="column-sec-title" class="vaccine">
                💉 Vaccinated</div>
            </div>
          </div>
          <div class="column-sec">
            <div class="column-sec-btn-div callBtnColor">
              <div class="btn-title" style="height:18px;padding-top:0px;padding-bottom: 0px;"
                (click)="callNow(orderDetails?.deliveryboy?.mobile)">Call now</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-div addMarginTop" *ngIf="orderDetails?.status == 'delivered' && !orderDetails?.rating">
      <div class="manage-order-div">
        <div class="column-sec" style="align-items: flex-start;flex:1">
          <div class="column-sec-title blackShade" style="font-weight: bold;color:#000">Rate Your Exprience</div>
          <div class="column-sec-title" style="font-size: 13px;margin-top:2px;color: #7e7e7e;">Help us to improve our
            sevice</div>
        </div>
        <div class="column-sec">
          <div class="column-sec-btn-div callBtnColor">
            <div class="btn-title" (click)="rating()">Rate Now</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Order details -->
    <div class="paymentDetails-div">
      <div class="payment-main">
        <div class="payment-heading">Order Details</div>
        <div class="payment-devide">
          <div class="payment-common-div">
            <div class="key-name">Order Id</div>
            <div class="key-value">#{{orderDetails?.code}}</div>
          </div>
          <div class="payment-common-div">
            <div class="key-name">Order Date</div>
            <div class="key-value">{{orderDetails?.created_at}}</div>
          </div>
          <div class="payment-common-div">
            <div class="key-name">Payment Mode</div>
            <div class="key-value" style="text-transform: uppercase;">{{orderDetails?.payment_mode}}</div>
          </div>
          <div class="payment-common-div" *ngIf="orderDetails?.payment_txnid">
            <div class="key-name">Transaction Id</div>
            <div class="key-value" style="text-transform: uppercase;">{{orderDetails?.payment_txnid}}</div>
          </div>

          <div class="payment-common-div">
            <div class="key-name">Delivery Date</div>
            <div class="key-value">{{orderDetails?.expected_delivery_date?orderDetails?.expected_delivery_date:'Not
              Assign'}}
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Cart item section -->
    <div class="cart-tem-section">
      <div class="cart-item-main" *ngFor="let item of orderDetails?.order_products">
        <div class="item-sec-one">
          <img class="item-image" src="{{item?.product?.image_path}}">
        </div>
        <div class="item-sec-two">
          <div class="product-title">{{item?.product?.name}}</div>
          <div class="product-discount"
            style="letter-spacing: 0px;font-size: 13px;text-transform: uppercase;color:#262626"
            *ngIf="item?.variant_selected?.color_name">Color - {{item?.variant_selected?.color_name}}</div>
          <div class="product-discount"
            style="letter-spacing: 0px;font-size: 13px;text-transform: uppercase;color:#262626;padding-top:1px">
            {{item?.variant_selected?.variant_name}}</div>
          <div class="content-price">RS. {{(item?.price).toFixed(2)}} X {{item?.quantity}}
          </div>
          <div class="product-discount">Subtotal - ₹ {{(item?.sub_total).toFixed(2)}}</div>
        </div>
      </div>
    </div>

    <div class="main-div"
      *ngIf="orderDetails?.payment_mode == 'cash' && (orderDetails?.status =='received' || orderDetails?.status =='accepted' || orderDetails?.status =='intransit' || orderDetails?.status =='outfordelivery') && orderDetails?.revertcount == 0">
      <div class="manage-order-div" style="background-color: #dcffae;margin-top: 9px;padding-right: 0px;">
        <div class="column-sec" style="align-items: flex-start;flex:3.5">
          <div class="column-sec-title" style="font-size: 14px; margin-top:2px;font-weight: bold;">
            Choose Online Payment option in this covid scenario for your safety.
          </div>
        </div>
        <div class="column-sec" style="flex:3">
          <div class="column-sec-btn-div">
            <!-- <ion-icon class="btn-icon" name="options-outline"></ion-icon> -->
            <div class="btn-title" (click)="paynow()">Pay ₹ {{(orderDetails?.payable_amount).toFixed(2)}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Payment details -->
    <div class="paymentDetails-div">
      <div class="payment-main">
        <div class="payment-heading">Billing Details</div>
        <div class="payment-devide">
          <div class="payment-common-div">
            <div class="key-name">Item Total</div>
            <div class="key-value">₹ {{(orderDetails?.item_total).toFixed(2)}}</div>
          </div>
          <div class="payment-common-div" *ngIf="orderDetails?.coupon_discount >0">
            <div class="common-sub" *ngIf="orderDetails?.coupon_discount >0">
              <div class="key-name" style="color: rgb(223, 58, 17);">Coupon Discount</div>
              <!-- <div class="coupon-name">First50 applied</div> -->
            </div>
            <div *ngIf="orderDetails?.coupon_discount >0" class="key-value" style="color: rgb(223, 58, 17);">-
              ₹ {{(orderDetails?.coupon_discount).toFixed(2)}}</div>
          </div>
          <div class="payment-common-div addBorder">
            <div class="key-name">Delivery fee</div>
            <div class="key-value">₹ {{(orderDetails.delivery_charge).toFixed(2)}}</div>
          </div>
          <div class="payment-common-div addPaddingTop">
            <div class="common-sub">
              <div class="key-name">Grand Total</div>
              <div class="coupon-name changeColor" style="margin-top:5px"
                *ngIf="orderDetails?.item_total - orderDetails?.payable_amount>0">You Save ₹{{(orderDetails?.item_total
                -
                orderDetails?.payable_amount).toFixed(2)}} in this order</div>
            </div>
            <div class="key-value" style="font-size: 15px;font-weight: 600;">
              Rs.{{(orderDetails?.payable_amount).toFixed(2)}}</div>
          </div>



        </div>
      </div>
    </div>

    <div class="address-div">
      <div class="address-content-div">
        <div class="address-heading">Delivery Address</div>
        <div class="address-details">
          <div class="add-name">{{orderDetails?.cust_name}}</div>
          <div class="add-desc">
            {{orderDetails?.cust_address?.address_line1?orderDetails?.cust_address?.address_line1:'N/A'}},
            {{orderDetails?.cust_address?.address_line2?orderDetails?.cust_address?.address_line2:'N/A'}}</div>
          <div class="add-desc">{{orderDetails?.cust_location}}, {{orderDetails?.cust_address?.postal_code}}</div>
          <div class="add-desc">{{orderDetails?.cust_address?.landmark}}</div>
          <div class="add-desc">+91 {{orderDetails?.cust_mobile}}</div>
        </div>
      </div>
    </div>

    <div class="item-btn-div" *ngIf="orderDetails?.status != 'cancelled' && orderDetails?.revertcount == 0 ">
      <div class="btn-sec" *ngIf="orderDetails?.status != 'delivered'" (click)="cancelOrderConfirmation()">
        <div>Cancel Order</div>
      </div>

      <div *ngIf="orderDetails?.status != 'delivered'" class="btn-sec changeBackground"
      (click)="callNow(orderDetails?.shop?.shop_mobile)">
      <div>Call to Store</div>
    </div>

      <div class="btn-sec" *ngIf="orderDetails?.status == 'delivered' && orderDetails?.days_delivered_before <4"
        (click)="replaceOrderConfirmation()">
        <div>Replace Order</div>
      </div>

     

      <div *ngIf="orderDetails?.status == 'delivered' && orderDetails?.days_delivered_before>3" class="btn-sec "
        (click)="callNow(orderDetails?.shop?.shop_mobile)">
        <div>Call to Store</div>
      </div>

      <div *ngIf="orderDetails?.status == 'delivered'" class="btn-sec changeBackground">
        <div (click)="download(orderDetails?.invoice)">View Invoice</div>
      </div>

    </div>

  
 <!--Cancel-->
    <div class="item-btn-div" *ngIf="orderDetails?.status == 'cancelled'">
      <div class="btn-sec changeBackground" (click)="callNow(orderDetails?.shop?.shop_mobile)">
        <div>Call to Store</div>
      </div>
    </div>


  <!--Replacement-->
    <div class="item-btn-div" *ngIf="orderDetails?.status != 'cancelled' && orderDetails?.revertcount > 0 ">
      <div class="btn-sec " (click)="callNow(orderDetails?.shop?.shop_mobile)">
        <div>Call to Store</div>
      </div>
      <div *ngIf="orderDetails?.status == 'delivered'" class="btn-sec changeBackground">
        <div (click)="download(orderDetails?.invoice)">View Invoice</div>
      </div>
    </div>

  </div>

  <div *ngIf="loading == true">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item
        *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>

    </ion-list>
  </div>



</ion-content>